/*Global styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141414;
    color:white; 
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

/*Navbar section */

.navbar{
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    align-items: center;
    padding: 1.5rem 0;
}

.nav-right{
    display: flex;
}
.nav-links {
    list-style: none;
    justify-content: space-between;
    display:flex;
    width: 200px;
}

.nav-link{
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    transition: 0.2s ease-in;
}

.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.logo {
    text-decoration: none;
    color: #eb2b34;
    font-size: 1.5rem;
}

.search-box{
    padding: .4rem 1rem;
    background-color:transparent;
    color: white;
    outline-style: none;
    border-radius: 50px;
    width: 25%;
    min-width: 240px;
    max-width: 240px;
    border: 1px solid gray;
    transition: 0.2s ease-in-out;
}

.search-box:focus{
    background-color:  rgba(255, 255, 255, 0.2);
    border: 1px solid white;
}


